[Unit]
Description=Blog service
After=network.target

[Service]
Type=simple
User=kamiy2743
WorkingDirectory=/home/kamiy2743/workspace/blog
EnvironmentFile=/home/kamiy2743/workspace/blog/.env
ExecStart=/home/kamiy2743/workspace/blog/blog
Restart=on-failure

[Install]
WantedBy=multi-user.target
