[Unit]
Description=Blog backend service
After=network.target

[Service]
Type=simple
User=kamiy2743
WorkingDirectory=/home/kamiy2743/workspace/blog/backend
EnvironmentFile=/home/kamiy2743/workspace/blog/backend/.env
ExecStart=/home/kamiy2743/workspace/blog/backend/blog-back
Restart=on-failure

[Install]
WantedBy=multi-user.target
