<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/jpeg" href="{{ .faviconHref }}" />
    {{ if .cssHref }}<link rel="stylesheet" href="{{ .cssHref }}" />{{ end }}
    {{ .inertiaHead }}
  </head>
  <body>
    {{ .inertia }}
    {{ if .useViteClient }}<script type="module" src="/@vite/client"></script>{{ end }}
    <script type="module" src="{{ .appScriptSrc }}"></script>
  </body>
</html>
